body {
  color: black;
background-color: white;
  min-width: 600px;
  margin-top: 0px;
  margin-right: auto;

  font-family: 'ArialMT', 'Arial', 'sans-serif';
  font-weight: normal;
  font-variant: normal;
  font-size: 17px;

  font-style: normal;
  text-decoration: none;
  text-transform: none;
}


#navigation {
        height: 120px;
        width:1100px;
        margin: 30px auto 0px auto;
       #border:#777777 2px solid;  /* debuging */
}

#navigation table {
color: #453c3b;
margin: 0 auto 0 auto;
width: 80%;
border-collapse: collapse;
}

#navigation table td {

width: 200px;
text-align: center;
color: #453c3b;
font-size: 18px;
font-weight: bold;
#border:#453c3b 2px solid;
}

#navigation table th {
 color: #453c3b;
width: 100px;
text-align: center;
font-weight: bold;
#border:#453c3b 10px solid;
}


#navigation hr {
  border: 0;
  width: 10%;
  color: #969696;
  background-color: #969696;
  height: 2px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

#navigation p{
    color: #453c3b;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Helvetica;
    margin: 0  ;
    #border:#453c3b 2px solid;
}


#navigation a {
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

#navigation a:hover {
    color: black;
}

a {
    color: #969696;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: black;
}


#main {
     margin-top: 15px;
     margin-right: auto;
     margin-left: auto;
     margin-bottom: 50px;
        width:930px;
}


#main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
/*   these three lines above center the image   */
vertical-align: middle;
/*    margin-bottom: 50px; */
}


#main #right {
margin-left: 500px;
}

#main #right table {
color: #808080;
font-weight: 700;
font-size: 15px;
width: 400px;
margin-bottom: 50px;
border-collapse: collapse;
#border:#00f 2px solid; /* debugging */
}

#main #left table th {
padding: 10px 30px 10px 0px;
border-top:1px;
text-align: left;
}
#main #left table td {
padding: 10px 30px 10px 0px;
border-top:1px;
text-align: left;
}



figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
  font-size: smaller;
}

.fleft {
    float:left;
    width: 50%;
    height: 400px;
}

.fright {
float: right;
    height: 400px;
    width: 50%;
}
li{
  margin: 10px 0;
}
